<select class="form-select form-select-lg pointer my-1"
        [ngModel]="_currentBoard"
        (ngModelChange)="_onShowBoardStandings($event)">
  <option [ngValue]="null"
          [selected]="_currentBoard === null">
    -- Select A Leaderboard --
  </option>
  <option *ngFor="let leaderboard of _leaderboards; let i = index"
          [ngValue]="leaderboard"
          [selected]="_currentBoard?.leaderboardID === leaderboard.leaderboardID"
          class="text-dark">
    {{leaderboard.boardName}}
  </option>
</select>
<br />
<br />
<br />
<ng-container *ngIf="_positions?.length">
  <pre>{{_positions | json}}</pre>
</ng-container>
