<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pepp Bingo</a>
    <ng-container *ngIf="_user">
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mobileUserDetails d-flex justify-content-evenly align-items-center d-md-none py-3 my-3">
          <img [src]="_user.profileImageUri" alt="Profile Image" class="rounded-circle border border-light border-2" height="50" width="50" />
          <label>Hey there, {{_user.displayName}}!</label>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="play" routerLinkActive="active">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="leaderboards" routerLinkActive="active">Leaderboards</a>
          </li>
          <li *ngIf="_user.isAdmin" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu dark-dropdown" aria-labelledby="adminDropdown">
              <li><a class="dropdown-item" routerLink="admin/mods/add-edit">Moderators</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="admin/bingo/add-edit">Bingo Boards</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="admin/bingo/live-controls">Live Controls</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
          </li>
        </ul>
      </div>
      <div class="d-none d-md-flex justify-content-evenly align-items-center">
        <label class="me-3">Hey there, {{_user.displayName}}!</label>
        <img [src]="_user.profileImageUri" alt="Profile Image" class="rounded-circle border border-light border-2" height="50" width="50" />
      </div>
    </ng-container>
  </div>
</nav>
