.navBorder {
  border-bottom: 1px solid var(--bs-light)
}

.mobileUserDetails {
  border-top: .125rem solid var(--bs-light);
  border-bottom: .125rem solid var(--bs-light);
}

.dropdown-menu {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-light);

  .dropdown-item {
    color: var(--bs-light);

    &:hover {
      background-color: var(--bs-dark);
      color: var(--bonani);
    }
  }
}
