<div class="card bg-dark border-light">
  <div class="card-header border-light">
    <span class="float-start">
      <ng-toggle class="rounded-pill"
                 onColor="success"
                 onText="On"
                 offColor="danger"
                 offText="Off"
                 handleColor="light"
                 size="sm"
                 [(ngModel)]="tile.isActive"
                 (click)="_onIsActiveChange()">
        <input type="checkbox" [(ngModel)]="tile.isActive" />
      </ng-toggle>
    </span>
    <span class="float-end">
      <fa-icon [icon]="icons.faTrash"
               class="pointer text-danger fs-4 ms-2"
               popoverTitle="Delete Tile?"
               ngbPopover="You will be prompted to confirm this action"
               popoverClass="popover-dark"
               container="body"
               triggers="mouseenter:mouseleave"
               (click)="_onDeleteTileClick(confirmRemoveTile)">
      </fa-icon>
    </span>
  </div>
  <div class="card-body border-light m-5 text-center">
    {{tile.text}}
  </div>
  <div class="d-flex flex-row justify-content-between">
    <ul class="list-group list-group-flush border-top-0">
      <li class="list-group-item bg-dark text-danger p-0 px-2">
        <fa-icon *ngIf="tile.isFreeSpace"
                 [icon]="icons.faCircle"
                 class="float-end fs-4"
                 popoverTitle="Free Space!"
                 ngbPopover="This is the free-space tile for this board"
                 popoverClass="popover-dark"
                 triggers="mouseenter:mouseleave"
                 placement="auto"
                 container="body">
        </fa-icon>
      </li>
    </ul>
    <ul class="list-group list-group-flush border-top-0">
      <li class="list-group-item bg-dark text-light p-0 px-2">
        <fa-icon [icon]="icons.faEdit"
                 class="pointer float-end fs-4"
                 ngbTooltip="Edit Tile Details"
                 placement="auto"
                 (click)="_onEditTileClick()">
        </fa-icon>
      </li>
    </ul>
  </div>
  <div class="card-footer border-light">
    <div class="row">
      <div class="col-6 my-1">
        <div class="detail-container">
          <label class="detail-label">Created By</label>
          <label>{{tile.createdByName}}</label>
        </div>
      </div>
      <div class="col-6 my-1">
        <div class="detail-container">
          <label class="detail-label">Created</label>
          <label>{{tile.createdDateTime | date:'short'}}</label>
        </div>
      </div>
      <div class="col-6 my-1">
        <div class="detail-container">
          <label class="detail-label">Last Modified By</label>
          <label>{{tile.modByName}}</label>
        </div>
      </div>
      <div class="col-6 my-1">
        <div class="detail-container">
          <label class="detail-label">Last Modified</label>
          <label>{{tile.modDateTime | date:'short'}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Remove Tile Confirmation Modal -->
<ng-template #confirmRemoveTile let-modal>
  <div class="modal-header bg-danger text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Delete Tile?</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <label>
      Are you sure you want to permanently delete the following tile?
      <br />
      <br />
      <strong><u>{{tile.text}}</u></strong>
    </label>
  </div>
  <div class="modal-footer bg-dark">
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close(false)">Cancel</button>
  </div>
</ng-template>

