/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --bonani: #fed800;
}

.popover-dark {
  border-color: var(--bs-light) !important;

  & > .popover-header, .popover-body {
    color: var(--bs-light) !important;
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-light) !important;
  }
}

.pointer {
  cursor: pointer;
}
