/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$bonani: #fed800;

.popover-dark {
  border-color: $light !important;

  & > .popover-header, .popover-body {
    color: $light !important;
    background-color: $dark !important;
    border-color: $light !important;
  }
}

.pointer {
    cursor: pointer;
}
