<!-- No board display -->
<div *ngIf="_noActiveBoard" class="centerOnPage w-100 text-center">
  <h1>Mods haven't set a board to play with yet.</h1>
  <br/>
  <h1>Tell 'em to get off their lazy butts and get with the program.</h1>
  <br/>
  <h6>(This page will automagically update once a board to play with has been selected, so just sit tight.)</h6>
</div>
<ng-container *ngIf="!_noActiveBoard">
  <app-bingo-grid [board]="_board" (tileClick)="_onTileClick($event)">
    <div class="d-flex flex-row justify-content-between w-100 mt-3">
      <div class="d-flex flex-column"
           [ngbTooltip]="!_resetIsActive ? 'Reset only available for 30s after Mod reset' : null"
           placement="auto">
        <label *ngIf="_resetIsActive"
               class="float-label">
          Available For {{resetActiveTimer$ | async}}s
        </label>
        <button class="btn btn-outline-warning"
                [disabled]="!_resetIsActive"
                (click)="_onResetBoardClick()">
          Reset Card
        </button>
      </div>
      <button type="button"
              class="btn btn-outline-info position-relative"
              (click)="_onOpenVoteModalClick()"
              [disabled]="!_voteRequests.length">
        Vote
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{_voteRequests.length > 99 ? '99+' : _voteRequests.length}}
        </span>
      </button>
      <button class="btn btn-outline-warning">
        Screenshot
      </button>
    </div>
  </app-bingo-grid>
</ng-container>

<app-leaderboard-submission-flow [boardID]="_activeBoardID"
                                 [board]="_board"
                                 (workflowEnd)="_onLeaderboardSubmissionComplete($event)">
</app-leaderboard-submission-flow>
<app-leaderboard-vote-flow [requests]="_voteRequests"></app-leaderboard-vote-flow>
