<div class="d-flex flex-column flex-md-row justify-content-between mt-lg-5">
  <div class="d-flex flex-column justify-content-evenly">
    <h1 class="display-6 border-light border-bottom border-1">Open Source</h1>
    <label class="form-label my-2 my-md-0">
      Pepp Bingo is an open source project!
    </label>
    <label class="form-label my-2 my-md-0">
      You can see all the source code that makes this app tick in
      <a href="https://github.com/CCattano/PeppBingo">
        this github repository.
      </a>
    </label>
    <h1 class="display-6 border-light border-bottom border-1">Donate</h1>
    <label class="form-label my-2 my-md-0">
      While this app is made and maintained with love, it's hosted with with my own funds.
    </label>
    <label class="form-label my-2 my-md-0">
      My hope is to never have to bring Pepp Bingo offline or implement ads to keep it hosted.
    </label>
    <label class="form-label my-2 my-md-0">
      If you enjoy playing bingo here consider making a donation to support the site!
    </label>
    <label class="form-label my-2 my-md-0">
      All money donated goes towards the cost of hosting this site for you lovely goobies.
    </label>
    <label class="form-label my-2 my-md-0">
      Donations are <strong><u><i>never</i></u></strong> required, but always appreciated!
    </label>
    <form ngNoForm action="https://www.paypal.com/donate" method="post" target="_blank" class="my-2 my-md-0">
      <input type="hidden"
             name="business"
             value="EKAVL957NNHMJ"/>
      <input type="hidden"
             name="no_recurring"
             value="0"/>
      <input type="hidden"
             name="item_name"
             value="Thanks for helping to keep Bingo going! Every dollar donated is a dollar I don't have to spend myself. I can't thank you enough!"/>
      <input type="hidden"
             name="currency_code"
             value="USD"/>
      <input type="image"
             src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
             border="0"
             name="submit"
             title="PayPal - The safer, easier way to pay online!"
             alt="Donate with PayPal button"/>
      <img alt=""
           border="0"
           src="https://www.paypal.com/en_US/i/scr/pixel.gif"
           width="1"
           height="1"/>
    </form>
  </div>
  <div class="card bg-dark border-light w-auto my-2 my-md-0 align-self-center" style="max-width: 300px">
    <img src="https://avatars.githubusercontent.com/u/47487276?v=4"
         class="card-img-top"
         alt=""
         width="300"
         height="300">
    <div class="card-body text-light border-light border-top border-1">
      <h5 class="card-title">The Man Behind The Squirrel</h5>
      <p class="card-text">Yo! My name is Chris a.k.a. TortuganTorres around the community.</p>
      <p class="card-text">I made Pepp Bingo for the Potassium Elite community!</p>
      <p class="card-text">You can see less noble pursuits I've wasted my life on by hitting the button below!</p>
      <a href="https://github.com/CCattano" target="_blank" class="btn btn-outline-warning float-end">My Github</a>
    </div>
  </div>
</div>
