<!-- ___Page Header___ -->
<div class="d-flex flex-row justify-content-between border-bottom border-light mb-4">
  <h1 class="align-self-start">{{boardName}}</h1>
  <h4 class="pointer align-self-end text-end" (click)="_onAddNewClick()">
    Add
    <fa-icon [icon]="icons.faPlusCircle"
             class="text-success fs-4">
    </fa-icon>
  </h4>
</div>
<!-- ___Tile Content___ -->
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 g-md-1 g-lg-3">
  <div *ngFor="let tile of _tiles; let i = index;" class="col">
    <app-tile-card *ngIf="!tile.editing"
                   [tile]="tile"
                   [index]="i"
                   (saveSuccess)="_onSaveSuccess($event)">
    </app-tile-card>
    <app-edit-tile-card *ngIf="tile.editing"
                        [tile]="tile"
                        [index]="i"
                        [boardID]="_boardID"
                        (saveSuccess)="_onSaveSuccess($event)"
                        (cancelClick)="_onCancelClick($event)">
    </app-edit-tile-card>
  </div>
</div>
