<div class="d-flex flex-row justify-content-between border-bottom border-light mb-4">
  <h1 class="align-self-start">Horror Board</h1>
  <h4 class="pointer align-self-end text-end">
    Add
    <fa-icon [icon]="icons.faPlusCircle"
             class="text-success fs-4">
    </fa-icon>
  </h4>
</div>
<div class="row row-cols-3 g-3">
  <div *ngFor="let tile of _tiles; let i = index;" class="col">
    <div class="card bg-dark border-light">
      <div class="card-header border-light">
        <span class="float-start">
          <ng-toggle class="rounded-pill"
                     onColor="success"
                     onText="On"
                     offColor="danger"
                     offText="Off"
                     handleColor="light"
                     size="sm"
                     [(ngModel)]="tile.isActive">
            <input type="checkbox" [(ngModel)]="tile.isActive" />
          </ng-toggle>
        </span>
        <span class="float-end">
          <fa-icon [icon]="icons.faTrash"
                   class="pointer text-danger fs-4 ms-2"
                   popoverTitle="Delete Tile?"
                   ngbPopover="You will be prompted to confirm this action"
                   popoverClass="popover-dark"
                   container="body"
                   triggers="mouseenter:mouseleave">
          </fa-icon>
        </span>
      </div>
      <div class="card-body border-light m-5 text-center">
        {{tile.text}}
      </div>
      <ul class="list-group list-group-flush border-top-0">
        <li class="list-group-item bg-dark text-light p-0 px-2">
          <fa-icon [icon]="icons.faEdit"
                   class="pointer float-end fs-4"
                   ngbTooltip="Edit Tile Details"
                   placement="auto">
          </fa-icon>
        </li>
      </ul>
      <div class="card-footer border-light">
        <div class="row">
          <div class="col-6 my-1">
            <div class="detail-container">
              <label class="detail-label">Created By</label>
              <label>{{tile.createdByName}}</label>
            </div>
          </div>
          <div class="col-6 my-1">
            <div class="detail-container">
              <label class="detail-label">Created</label>
              <label>{{tile.createdDateTime | date:'short'}}</label>
            </div>
          </div>
          <div class="col-6 my-1">
            <div class="detail-container">
              <label class="detail-label">Last Modified By</label>
              <label>{{tile.modByName}}</label>
            </div>
          </div>
          <div class="col-6 my-1">
            <div class="detail-container">
              <label class="detail-label">Last Modified</label>
              <label>{{tile.modDateTime | date:'short'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
