<ng-template #leaderboardSubmissionModal let-modal>
  <ng-container [ngSwitch]="_currentSubmissionStep">
    <ng-container *ngSwitchCase="submissionStepEnum.ConfirmSubmit">
      <ng-container *ngTemplateOutlet="confirmSubmit; context: {modal}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="submissionStepEnum.AlreadySubmitted">
      <ng-container *ngTemplateOutlet="alreadySubmitted; context: {modal}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="submissionStepEnum.CannotSubmit">
      <ng-container *ngTemplateOutlet="cannotSubmit; context: {modal}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="submissionStepEnum.AwaitVotes">
      <ng-container *ngTemplateOutlet="awaitVotes; context: {modal}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="submissionStepEnum.VerifiedBingo">
      <ng-container *ngTemplateOutlet="verifiedBingo; context: {modal}"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #confirmSubmit let-modal>
  <div class="modal-header bg-success text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Bingo!</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <label>You just got a bingo!</label>
    <br/>
    <br/>
    <label>Do you want to submit this Bingo to improve your leaderboard standing?</label>
  </div>
  <div class="modal-footer bg-dark">
    <button type="button" class="btn btn-success" (click)="_onSubmitBingoRequest()">Submit It!</button>
    <button type="button" class="btn btn-outline-secondary" (click)="_onDeclineToSubmit()">No Thanks</button>
  </div>
</ng-template>

<ng-template #alreadySubmitted let-modal>
  <div class="modal-header bg-success text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Bingo Confirmed! Let's Goaarrr!!</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <label>You just got a bingo! Go brag about it in the Discy!</label>
    <br/>
    <br/>
    <label>You've already submitted a bingo for yer leaderboard standing for this current game.</label>
    <br/>
    <br/>
    <label>You'll be able to submit another bingo once a new game starts and Mods reset everyone's boards.</label>
  </div>
  <div class="modal-footer bg-dark">
    <div class="d-flex flex-row justify-content-between w-100">
      <button type="button" class="btn btn-outline-secondary" (click)="_onScreenshotRequest()">
        Screenshot
        <fa-icon [icon]="icons.faExternalLinkAlt" class="ms-1"></fa-icon>
      </button>
      <button type="button" class="btn btn-success" (click)="_onCloseAfterUnableToSubmit()">Got it!</button>
    </div>
  </div>
</ng-template>

<ng-template #cannotSubmit let-modal>
  <div class="modal-header bg-success text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Sus Bingo Confirmed!</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <label>You just got a bingo!</label>
    <br/>
    <br/>
    <label>Unfortunately due to your recent player activity we can't let you submit this bingo at this time.</label>
    <br/>
    <br/>
    <label>You'll be able to submit another bingo once a new game starts and Mods reset everyone's boards.</label>
    <br/>
    <br/>
    <label>We're sorry for any inconvenience this has caused.</label>
    <br/>
    <br/>
    <label>If you believe your actions have been incorrectly flagged as suspicious please reach out to a Mod.</label>
  </div>
  <div class="modal-footer bg-dark">
    <button type="button" class="btn btn-success" (click)="_onCloseAfterUnableToSubmit()">
      I'm sorry.
    </button>
  </div>
</ng-template>

<ng-template #awaitVotes let-modal>
  <div class="modal-header bg-success text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Now We Play The Waiting Game</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <div>
      <label>
        You'll need at least two other goobies to confirm
        your bingo to increase your leaderboard standing
      </label>
      <br/>
      <br/>
      <label>Sit tight while we wait on votes to come in</label>
      <br/>
      <br/>
      <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
          <label class="me-3">Approved By:</label>
          <img *ngFor="let approver of _approvers"
               class="rounded-circle border border-light border-3 me-2"
               [src]="approver.profileImageUri"
               [ngbTooltip]="approver.displayName"
               placement="auto"
               height="50"
               width="50"
               alt="approver"/>
        </div>
        <br/>
        <div class="d-flex flex-row align-items-center">
          <label class="me-3">Rejected By:</label>
          <div *ngFor="let _ of _rejectors"
               class="rounded-circle bg-light text-dark border border-light border-2 me-2">
            <fa-icon class="d-flex fs-1"
                     [icon]="icons.faUserCircle"
                     ngbTooltip="Anonymous"
                     placement="auto">
            </fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-dark">
    <div class="d-flex flex-row justify-content-between w-100">
      <button type="button" class="btn btn-outline-secondary" (click)="_onScreenshotRequest()">
        Screenshot
        <fa-icon [icon]="icons.faExternalLinkAlt" class="ms-1"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="_onCancelSubmission()">Cancel Submission</button>
    </div>
  </div>
</ng-template>

<ng-template #verifiedBingo let-modal>
  <div class="modal-header bg-success text-light">
    <h4 ngbAutofocus class="modal-title" id="modal-basic-title">Bingo Confirmed! Let's Goaarrr!!</h4>
  </div>
  <div class="modal-body bg-dark text-center">
    <label class="fs-4">These two had your back!</label>
    <br/>
    <br/>
    <div class="d-flex flex-row justify-content-evenly">
      <ng-container *ngFor="let approver of _approvers; let i = index">
        <div class="d-flex flex-column align-items-center">
          <img class="rounded-circle border border-light border-3 me-2 mb-2 animate__animated animate__fast"
               [class.animate__slideInLeft]="i === 0"
               [class.animate__slideInRight]="i === 1"
               [src]="approver.profileImageUri"
               [ngbTooltip]="approver.displayName"
               placement="auto"
               height="80"
               width="80"
               alt="approver"/>
          <label class="fs-6 animate__animated animate__fadeInUp animate__fast animate__delay-1s">
            {{approver.displayName}}
          </label>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer bg-dark">
    <div class="d-flex flex-row justify-content-between w-100">
      <button type="button" class="btn btn-outline-secondary" (click)="_onScreenshotRequest()">
        Screenshot
        <fa-icon [icon]="icons.faExternalLinkAlt" class="ms-1"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="_onCloseAfterVerified()">Close</button>
    </div>
  </div>
</ng-template>
